{% load static %}
{% load workers_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'workers/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'workers/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
</head>
<body>
<header>
    <ul>
        <li><a class="text header-text" href="{% url 'home' %}">Главная</a></li>
        {% for m in menu %}
        {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
            <a class="text header-text" href="{% url m.url_name %}">{{ m.title }}</a>
        </li>
        {% endfor %}
    </ul>
</header>

{#{% get_categories as categories %}#}

<div class="main">
    <ul id="left-chapters">
        {% if cat_selected == 0 %}
            <li class="selected text">Все категории</li>
        {% else %}
            <li><a class="text" href="{% url 'home' %}">Все категории</a></li>
        {% endif %}


        {% show_categories cat_selected %}

        <li class="share">
            <p class="text">Наш канал <a class="share-yt text" href="..." target="_blank" rel="nofollow">youtube</a></p>
        </li>
        <li>{% show_all_tags %}</li>
    </ul>

    <div class="main-center">
        {% block breadcrumbs %} {% endblock %}
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>