{% extends "base.html" %}

{% block content %}
    <h1>Авторизация</h1>
    
    <form action="" method="post">
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit">Войти</button></p>
    </form>
    <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p
    <p><a href="{% url 'social:begin' 'github' %}"><img src="/media/social-auth/github.png" width="180px"></a></p>
    <p><a href="{% url 'social:begin' 'vk-oauth2' %}"><img src="/media/social-auth/vk.png" width="180px"></a></p>
{% endblock %}