{% extends 'base.html' %}
{% load cache %}
{% block content %}
{#    {% cache 30 page cat_selected %}#}
    <h1 class="display-4">{{ title }}</h1>
    <div class="list-group">
        {% for p in page_obj %}
            <div class="list-group-item">
                <h2 class="text title header-text">{{ p.title }}</h2>
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Категория: {{ p.cat }} | Автор: {{ p.author.username|default:"No name" }}</h5>
                    <small>Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</small>
                </div>
                {% if p.photo %}
                    <p class="mb-1"><img class="img-fluid rounded" src="{{ p.photo.url }}"></p>
                {% endif %}
                <div class="text">{{ p.content|linebreaks|truncatewords:50 }}</div>
                <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
            </div>
        {% endfor %}
    </div>
{#{% endcache %}#}
{% endblock %}

{% block navigation %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        </span>

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
{% endblock %}