{% extends 'base.html' %}
{% block content %}
{#    {% include 'workers/includes/nav.html' %}#}

{#    <h1 class="text">{{ title }}</h1>#}

    <ul>
        {% for p in posts %}
        {% if p.is_published %}
            <li>
                <h2 class="text">{{ p.title }}</h2>
                <div class="text">{{ p.content|linebreaks|truncatewords:50 }}</div>
                <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
            </li>
        {% endif %}
        {% endfor %}
    </ul>


{#    {% include 'workers/includes/nav.html' %}#}
{% endblock %}