{% extends 'base.html' %}
{% block content %}
    {% include 'workers/includes/nav.html' %}

    <h1 class="text">{{ title }}</h1>
    <div class="main">
        <div class="main-center">
            <ul>
            {% for p in posts %}
            {% if p.is_published %}
            <li>
                <h2 class="text">{{ p.title }}</h2>
                    <p class="text">{{ p.content|truncatewords:50 }}</p>
                <p><a href="{% url 'post' p.id%}">Читать пост</a></p>
                {% if not forloop.last %}
                <hr>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>

    {% include 'workers/includes/nav.html' %}
{% endblock %}