{% extends 'base.html' %}
{% block breadcrumbs %}
<!-- Теги -->
{% with post.tags.all as tags %}
{% if tags %}
    <div></div>
    <ul class="tags-list">
        <li class="text">Теги:</li>
        {% for t in tags %}
        <li><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% endblock %}


{% block content %}
    <h1 class="text">{{ title }}</h1>
    <p>Автор: {{ post.author.username|default:"No name" }}</p>
    <p><a href="{{ post.get_edit_url }}">Редактировать</a></p>

    {% if post.photo %}
        <p><img class="img-article-left" src="{{ post.photo.url }}"></p>
    {% endif %}

    <div class="text">{{ post.content|linebreaks }}</div>
{% endblock %}